body{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
  font-size: 20px;
}
.nav{
  background-color: #eee;
  padding: 10px;
}
.ham{
  display: none;
    color: black;
  text-decoration: none;
  padding: 10px;
}
.flex{
  display: flex;
}
.nav h1{
  padding: 10px;
}
.nav-item li{
  padding: 10px;
  list-style: none;
}
.nav-item li a{
  color: black;
  text-decoration:none;
}
.space-between{
    justify-content: space-between;
}
.banner{
  background-color: #ccdded;
  padding: 100px;
}
.banner h2, section h3{
  text-align: center;
}
.content-box{
  width: 600px;
  height: 200px;
  background: #8899a9;
  margin: 0 10px 20px 10px;
  text-align: center;
}
.content-box p{
  margin-top: 10px;
}
.content{
  display: flex;
  justify-content: center;
  align-items: center;
}
.button{
  display: flex;
  justify-content: center;
}
.button button{
  background: #daefff;
  border: 0;
  padding: 10px;
  margin-bottom: 30px;
}
.font-bold{
  font-weight: bold;
}
.Section-Title{
  padding: 20px;
}
@media(min-width: 800px) and (max-width: 1200px ) {
  .content-box{
    width: 45%;
  }
}
@media(min-width: 500px) and (max-width: 800px ) {
  .nav-item{
    display: none;
  }
  .nav-item li{
    display: block;
  }
  .ham{
    display: block;
  }
  .content-box{
    width: 45%;
  }
}